.action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 90px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 289px;
    height: 40px;
    top: 286px;
    left: 80px;
    gap: 16px;
}
.special{
    width: 87px;
    height: 40px;
    border-radius: 100px;

    border: none;

    background: #081E346B;

    color: #ffffff;

    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}
.usual{
    white-space: nowrap;
    width: 84px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(0deg, #F0F0F0, #F0F0F0),
    linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05));

    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;

    color: #081E34;
}
.plus{
    width: 52px;
    height: 52px;
    top: 274px;
    left: 1308px;
    gap: 8px;
    border-radius: 100px;

    background-color: #081E34;
}
.plus img{
    width: 24px;
    height: 24px;
}
.Block{
    width: 1280px;
    height: 54px;
    top: 390px;
    left: 80px;
    gap: 24px;

    margin-bottom: 30px;
}
.Text{
    width: 1280px;
    height: 28px;

    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;

    color: #151517;
}
.Divider{
    width: 1280px;
    height: 2px;
    opacity: 20%;

    background: #151517;
}
.ItemList {
    display: flex;
    flex-direction: column;

    width: 654px;
    height: 184px;
    top: 468px;
    left: 56px;
    gap: 16px;
}
.details{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-end;
}
.adding{
    display: flex;
    flex-direction: column;

    width: 268px;
    height: 234px;
    top: 92px;
    left: 1015px;
    padding: 16px;
    gap: 10px;
    border-radius: 12px;

    background: #E4E6E7;
    box-shadow: 0px 4px 4px 0px #00000029;
}
.add{
    width: 236px;
    height: 22px;

    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #151517;
}
.input{
    width: 236px;
    height: 120px;
    border-radius: 8px;
    border: none;
    background: #FFFFFF;



    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 16px;
}
.input::placeholder{
    color: #B0B0B0;
}
.BtnAdd{
    width: 76px;
    height: 40px;

    border-radius: 100px;

    padding: 8px 24px 8px 24px;
    gap: 8px;


    background:  #081E34;

    color: white;

}
.SelectRed {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;


    width: 654px;
    height: 24px;

}

.SelectRed .taskInput {
    background-color: transparent;
    color: #151517;
}



.CheckedtaskInput{
    border: none;
    outline: none;

    width: 598px;
    height: 24px;

    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

    text-decoration: line-through;

    color: #959595;
    background: transparent;

}
.Select{
    width: 48px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Box{
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.Box1{
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    background-color: white;

    cursor: pointer;
}

.Points{
    width: 2.5px;
    height: 10px;

}


.DropdownMenu {
    position: absolute;



    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    margin-top: 90px;

    width: 240px;
    height: 48px;

    margin-bottom: 10px;

    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #E4E6E7;

    padding-left: 30px;
    gap: 10px;
}

.DropdownItem {

    width: 236px;
    height: 24px;
    gap: 12px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;

    cursor: pointer;
}
.RubbishIcon{
    width: 12px;
    height: 12px;
}
.TextStyle{
    width: 236px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-family: Inter, Serif, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}